html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.display-desktop {
    display: flex;
}

.display-mobile {
    display: none !important;
}

@media only screen and (pointer: coarse) and (max-width: 1024px),
screen and (max-width: 992px) {
    .display-desktop {
        display: none !important;
    }

    .display-mobile {
        display: flex !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    main {
        padding-top: 78.5px;

        button.arrow-up {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            border: 1px solid #ccc;
            background-color: rgb(82, 180, 245);
            z-index: 1;

            &:focus {
                outline: none;
                box-shadow: none;
                color: #fff;
            }
        }

        &.main-display-mobile {
            padding-top: 84.5px;

            .backdrop-wrapper {
                .order-wrapper{
                    &>div {
                        flex-wrap: wrap;
                    }
        
                    .order-content {
                        width: 50%;
        
                        img {
                            width: 65%;
                            height: auto;
                        }
                    }
                }
            }
            
        }
    }



    .backdrop-wrapper {
        height: 400px;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .order-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            z-index: 1;

            >div {
                height: 300px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.3);
                display: flex;
            }

            .order-content {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        
    }

    .main-content {
        .menu-section {
            * {
                color: #000 !important;
            }
        }
    }

    .content-section {
        &:not(:last-child) {
            margin-bottom: 5rem;
        }

        p.section-name {
            font-size: calc((.9 - 1) * 1.2vh + 1rem);
            text-transform: uppercase;
        }

        .block-content {
            position: relative;
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;

            .large-content {
                font-size: 21px;
            }

            .small-content {
                font-size: 13px;
            }

            hr {
                background-color: #000;
            }
        }
    }

    #posts {
        padding-top: 2rem;

        img {
            width: 100px;
            height: auto;
            margin-bottom: 1rem;
        }

        p {
            border: 1px solid;
            padding: 1rem;
            width: 80%;
        }
    }

    #menu {
        background-color: #f3f3f3;

        .content-section {
            font-family: 'Courgette', cursive;
        }
    }

    #access {
        min-height: 50vh;
        width: 100%;
    }

    #contact {
        padding-top: 5rem;

        img {
            max-width: 150px;
        }

        form {
            .btn-submit {
                color: #fff;
                background-color: #af524b;
                border-color: #af524b;
            }

            fieldset {
                margin-bottom: 1rem;

                input,
                textarea {
                    width: 100%;
                }
            }
        }
    }
}